body{
    background-color: rgb(127, 255, 138);
}
.cabelho
{
    color:rgb(241, 232, 232);
    text-align: center;
    background-color: rgb(10, 14, 26);
    border-radius:50%
    width:50;
    .elemento-pai {
        display: flex;
        justify-content: center;
        align-items: center
    }
}